$hr: "hr";
$login: "login";

.#{$login}-background{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: {
    // color: #ccc;
    image: url(../images/login-background.jpg);
    position: center;
    repeat: no-repeat;
  }
}
.#{$login}-content{
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;

  .header{
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    height: 58px;
    width: 100%;
    z-index: 99;
  }
  .outer{
    display: table;
    position: relative;
    height: calc(100% - 58px);
    width: 100%;
  }
  .middle{
    display: table-cell;
    vertical-align: middle;
  }
  .inner-content{
    box-sizing: border-box;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: 10%;
    margin-bottom: 28px;
    max-width: 440px;
    min-width: 320px;
    min-height: 338px;
    padding: 44px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
  }

  & .title{
    display: block;
    color: #404040;
    font-size: 0.24rem;
    font-weight: 600;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 12px;
  }
  & .row{
    display: table;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  & input{
    display: table-cell;
    box-sizing: border-box;
    padding: 4px 10px 4px 0;
    border-width: 0 0 1px;
    border-color: rgba(0,0,0,.6);
    height: 32px;
    outline: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    width: 100%;
    font-size: 0.14rem;
    font-weight: 400;
    padding-left: 30px;
  }
  & input:focus{
    border-bottom-color: #0067b8;
  }
  & .input-addon{
    position: absolute;
    top: 6px;
    left: 5px;
    white-space: nowrap;
    // display: table-cell;
    // width: 1%;
    // border-width: 0 0 1px;
    // border-style: solid;
    // border-color: rgba(0,0,0,.6);
    // padding-right: 1rem;
  }
  & input:focus{
    border-bottom-color: #0067b8;
  }
  & #ida_register{
    color: #0067b8;
    font-size: 0.14rem;
  }
  & button{
    float: right;
    background-color: #005da6;
    color: #fff;
    height: 32px;
    border: none;
    min-width: 108px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 0.14rem;
  }
}

.#{$hr}-header{
  box-sizing: border-box;
  display: table;
  width: 100%;
  padding: 0.08rem 0.16rem;
  min-height: 0.64rem;
  height: 0.64rem;
  background-color: var(--purple_hd);
  color: #fff;
  box-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.1);
}
.#{$hr}-navbar-brand{
  display: table-cell;
  color: #fff;
  font-size: 0.18rem;
  vertical-align: middle;
  width: 1%;
  white-space: nowrap;
}
.#{$hr}-navbar-brand:hover{
  color: #fff;
}
.#{$hr}-navbar-content{
  display:flex;
  height: 100%;
}
.#{$hr}-navbar-group{
  display: flex;
  align-items: center;
  list-style: none;
  color:#cbbde2;
  font-size: 0.14rem;
  margin-left: auto;
  margin-bottom: 0;
}
.#{$hr}-navbar-item{
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.#{$hr}-menu{
  box-sizing: border-box;
  // display: flex;
  width: 100%;
  padding: 0 0.16rem;
  // height: 0.48rem;

  & nav{
    position: relative;
    width: 100%
  }
  & .menu-group{
    color: #333;
    white-space: nowrap;
    // font-family: "msyh","Microsoft YaHei";
    // font-weight: 300;
    list-style: none;
    margin-bottom: 0;
  }
  & .menu-item{
    position: relative;
    display: inline-block;
    padding-right: 0.2rem;
  }
  & .menu-item:hover .menu-item_in{
    display: block;
  }
  & a{
    color: #333;
    line-height: 0.48rem;
  }
  & .menu-content{
    display: none;
    width: 100%;
    height: 0.48rem;
    background-color: #f0f0f0;
    overflow: hidden;
    animation: menucontent 1s cubic-bezier(0,0,1,1) 1;
    -webkit-animation: menucontent 1s cubic-bezier(0,0,1,1) 1; 
  }
  @keyframes menucontent{
    from {height: 0;}
    to {height: 0.48rem;}
  }
}
.menu-item_in{
  position: absolute;
  display: none;
  width: 3rem;
  height: auto;
  background-color: #f0f0f0;
  overflow: hidden;
  animation: menu-item-show 1s cubic-bezier(0,0,1,1) 1;
  -webkit-animation: menu-item-show 1s cubic-bezier(0,0,1,1) 1; 
}
@keyframes menu-item-show{
  from {height: 0;}
  to {height: 150px;}
}
.fr dd{
  min-height: 30px;
}