$gray-color: #ccc;

$login: "login";

.#{$login}-background{
  background: {
    // color: #ccc;
    image: url(../images/login-background.jpg);
    position: center;
    repeat: no-repeat;
  }
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.#{$login}-content{
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;

  .header{
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    height: 58px;
    width: 100%;
    z-index: 99;
  }
  .outer{
    display: table;
    position: relative;
    height: calc(100% - 58px);
    width: 100%;
  }
  .middle{
    display: table-cell;
    vertical-align: middle;
  }
  .inner-content{
    box-sizing: border-box;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: 10%;
    margin-bottom: 28px;
    max-width: 440px;
    min-width: 320px;
    min-height: 338px;
    padding: 44px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
  }

  & .title{
    display: block;
    color: #404040;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 12px;
  }
  & .row{
    display: table;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  & input{
    display: table-cell;
    box-sizing: border-box;
    padding: 4px 10px 4px 0;
    border-width: 0 0 1px;
    border-color: rgba(0,0,0,.6);
    height: 32px;
    outline: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
  }
  & input:focus{
    border-bottom-color: #0067b8;
  }
  & .input-addon{
    position: absolute;
    top: 6px;
    left: 5px;
    white-space: nowrap;
    // display: table-cell;
    // width: 1%;
    // border-width: 0 0 1px;
    // border-style: solid;
    // border-color: rgba(0,0,0,.6);
    // padding-right: 1rem;
  }
  & input:focus{
    border-bottom-color: #0067b8;
  }
  & #idA_Loginin{
    color: #0067b8;
    font-size: 14px;
  }
  & button{
    float: right;
    background-color: #005da6;
    color: #fff;
    height: 32px;
    border: none;
    min-width: 108px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
  }
}
